table, th, td {
  border:1px solid black;
  width: 1000px;
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  color: white;
  font-size: 40pt;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px; 

}

a:hover {
    color: yellow;
    font-weight: bold;
}

a:visited {
  color: blue;
}

a:link {
  color: yellow;
}

body {
  background: url("jeopardyBackground.jpg");
 
}

.button {
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



